.text{
    font-size: 18px;
    font-weight: 300;
}
.textSmall {
    font-size: 15px;
    font-weight: 300;
}
.textLarge {
    font-size: 30px;
    font-weight: 300;
}
.textColor{
    color:#fff;
    background-color: transparent;
}
.color{
    background-color: transparent;
    border:1.5px solid #fff;
}
.color:hover{
    background-color:transparent;
    color:#fff;
    border:1.5px solid #fff;
}
.color:focus{
    background-color: transparent;
    color:#fff;
    border:1.5px solid #fff;
}

.bcolor {
    background-color: transparent;
    border:1.5px solid transparent;
}
.bcolor:hover {
    background-color: transparent;
    color: #fff;
    border:1.5px solid transparent;
}

.bcolor:focus {
    background-color: transparent;
    color: #fff;
    border:1.5px solid transparent;
}



.box{
    background-image: linear-gradient(left,rgb(42, 93, 187),rgb(52, 171, 240));
    border-radius: 0%;
    height:auto;
    z-index:1;
}
.float-right{
    float: right;
}
.margin-left{
    margin-left: 10px;
}
.align{
    padding:10px;
}
.align-right{
    justify-content: right;
}
.large-text{
    font-family: 'Open Sans';
    font-size:50px;
}
.center-align{
    display: flex;
    align-items: center;
}
.button-align{
    display: block;
    margin-left:auto;
    margin-right:0;
}
.loader{
    border:5px solid rgb(44, 127, 236);
    border-top-color: transparent;
    border-right-color : transparent;
    height:35px;
    width:35px;
    position:relative;
    left:50%;
}
.section{
    padding-top:10px;
    padding-right: auto;
    padding-left: auto;
}
.textarea{
    height:100px;
}
.button-float-right{
    float: right;
}
.message-header{
    background-color: #fff;
    color:#555;
    padding: 5px;
}
.message{
    background-color: rgb(37, 74, 153);
    color:#fff;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
}
.text-align{
    display: block;
    margin-left:auto;
    margin-right:10;
}
/* .shadow{
    box-shadow: 5px 10px 40px #cccccc;

} */
.Navbar{
    position:relative;
    padding:8px;
    margin-top: -25px;
    background-color: rgb(37, 74, 153);
}
.checkInStatus{
    position:relative;
    margin-top: 25px;
}



.wrapper {
    position: relative;
    left:50%;
    float: left;
}
.w1 {
    perspective: 80px;
}

.cube {
    /* font-size: 4em; */
    width: 30px;
    margin: 15px auto;
    transform-style: preserve-3d;
    transform: rotateX(-45deg);
    animation : load 1s infinite linear;
}

.side {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 3px solid #fff;
    opacity:0.7;
    color: white;
    text-align: center;
    line-height: 30px;
}

.front {
    transform: translateZ(15px);
}

.top {
    transform: rotateX(90deg) translateZ(15px);
}

.right {
    transform: rotateY(90deg) translateZ(15px);
}

.left {
    transform: rotateY(-90deg) translateZ(15px);
}

.bottom {
    transform: rotateX(-90deg) translateZ(15px);
}

.back {
    transform: rotateY(-180deg) translateZ(15px);
}
.loading-background {
    height:100vh;
    width:100vw;
    background-image: linear-gradient(left, rgb(42, 93, 187), rgb(52, 171, 240));
}

.link{
    color:#fff;
    background-color: transparent;
}
.link:hover{
    color:#fff;
    background-color: transparent;
}
.link:focus{
    color:#fff;
    background-color: transparent;
}

@keyframes load {
    0%{
        transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(360deg);
    }
}
