.text{
    font-size: 18px;
    font-weight: 300;
}
.textColor{
    color:#fff;
}
.color{
    background-color: transparent;
    border:1.5px solid #fff;
}
.color:hover{
    background-color:transparent;
    color:#fff;
    border:1.5px solid #fff;
}
.color:focus{
    background-color: transparent;
    color:#fff;
    border:1.5px solid #fff;
}
.box{
    background-image: linear-gradient(left,rgb(226, 55, 55),rgb(226, 132, 55));
    border-radius: 0%;
    height:auto;
}
.float-right{
    float: right;
}
.margin-left{
    margin-left: 10px;
}
.align{
    padding:10px;
}
.align-right{
    justify-content: right;
}
.large-text{
    font-family: 'Open Sans';
    font-size:50px;
}
.center-align{
    display: flex;
    align-items: center;
}
.button-align{
    display: block;
    margin-left:auto;
    margin-right:0;
}
.loader{
    border:5px solid rgb(236, 44, 44);
    border-top-color: transparent;
    border-right-color : transparent;
    height:35px;
    width:35px;
    position:relative;
    left:50%;
}
.section{
    padding-top:10px;
    padding-right: auto;
    padding-left: auto;
}